*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
h1{ color:rgba(237, 239, 236, 0.908);
    font-size: 85px ;
    font-family: cursive;
    text-align: center;
    font-weight: bolder;
    background-color: black;
text-shadow: 60px;
margin-bottom: 10px;}

    h2{ color: rgb(6, 9, 3);
    font-size: 55px;
font-family: cursive;
font-style: italic;
 text-align:center ;
 font-weight: bold;
}

p{ color: color-mix(in srgb, rgb(0, 0, 0) 40%, rgba(255, 64, 0, 0.74) 60%);
text-align: center;
font-size: 35px;
text-decoration: wavy;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: lighter;
 margin: 50px;
 padding: 20px;}

#box{ height:18% ;
width: 80%;
background-color: rgba(250, 235, 215, 0.421);
margin-top: 45px;
margin-left: 10%;
border-radius: 40px;
display: flex;
justify-content: space-evenly;
align-items: center;
}

#email{ height: 80px;
width: 100px;
border-color: black;
font-size: 21px;
border-width: 5px;
border-color: black;
border-style: groove;
text-align: center;
border-radius: 25px;
background-color: rgba(250, 235, 215, 0.185);}

#linkedin{height: 80px;
width: 180px;
border-color: black;
font-size: 21px;
 background-color: rgba(250, 235, 215, 0.185);
 border-width: 5px;
 border-color: black;
 border-style: groove;
 text-align: center;
 border-radius: 25px;
}

#Github{
    height: 80px;
    width: 190px;
    background-color: rgba(250, 235, 215, 0.185);
    border-color: black;
    border-width: 5px;
    border-style: groove;
    font-size: 21px;
    text-align: center;
    border-radius: 25px;
    }
   #Changebackgroundcolors{height: 10%;
width: 100%;
justify-content: space-evenly;
align-items: center;
display: flex;

}
#backgroundcolors{height: 40px;
width: 70%;
display: flex;
justify-content: space-evenly;}







    

